@import "customvaribles";
/* defolt classes */


section{
  height: 100vh;
  width: 100%;
  display: flex;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
.row{
  position: relative;
}
.pagination{
  position: absolute;
  top: 50%;
  //bottom: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  li{
    justify-content: center;
    align-items: center;
    display: inherit;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid $accentColor;
    margin: 12px;
  }
  a{
    height: 50%;
    width: 50%;
    display: inline-block;
    border-radius: 50%;
    transition: all .5s linear;
    &.is-active{
      background-color: #ef9a9a ;
      transition: all .5s linear;
    }
  }
}
.slide{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: $bodyBgColor;
  opacity: 0;
  transition: all .3s linear;

  & > * {
    width: 50%;
  }
  &.is-active{
    //opacity: 1;
    //transition: all .3s linear;
  }
}
.slide-text, .slide-item{
  display: inherit;
}
.slide-text{
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  .sl-tile{
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 100;
    color: $accentColor;
  }
  p{
    font-size: 2rem;
    font-weight: 100;
    color: #b0bec5;
  }
}
.slide-item{
  position: relative;
  align-items: center;
  img:nth-child(1){
    max-width: 100%;
  }
}
