@import "customvaribles";
/* defolt classes */


section{
  //height: 100vh;
  //width: 100%;
  //display: flex;
}
.container{
  width: 168rem;
  margin: 0 auto;
}
.row{
  position: relative;
}
.pagination{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  li{
    justify-content: center;
    align-items: center;
    display: inherit;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: .2em solid $accentColor;
    margin: 1em;
  }
  a{
    height: 95%;
    width: 95%;
    display: inline-block;
    border-radius: 50%;
    transition: all .5s linear;
    &.is-active{
      background-color: #ef9a9a ;
      transition: all .5s linear;
    }
  }
}
#dot{
  position: absolute;
  top: 50%;
  bottom: 0;
  transform: translateY(-70%);
  z-index: 999;
}
.slide{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: $bodyBgColor;
  opacity: 0;
  transition: all .3s linear;
  font-size: 1rem;

  & > * {
    width: 50%;
  }
  &.is-active{

  }
}
.slide-text, .slide-item{
  display: inherit;
}
.slide-text{
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  .sl-tile{
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 100;
    color: $accentColor;
  }
  p{
    font-size: 3.5em;
    font-weight: 100;
    color: #b0bec5;
  }
}
.slide-item{
  position: relative;
  align-items: center;
  height: 60em;
  img{
    position: absolute;
    top: 0;
  }
  img:nth-child(1){
    max-width: 100%;
  }
}
